{# src/AppBundle/Ressources/views/Home/index.html.twig#}

{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <!--  FEATURES -->
    <section class="features">
        <div class="row">
            <div class="small-12 columns">
                <h2>UNE COLLABORATION PLUS SÛRE ET EFFICACE</h2>
                <p>SupFile vous simplifie la tâche en vous offrant un emplacement centralisé pour accéder à vos fichiers et les partager. Faites passer le travail d'équipe à la vitesse supérieure. Vivez une expérience unique</p>
                <p><a href="#"><img src="{{ asset('bundles/img/front/google-play-store-logo.png') }}"></a></p>
                <ul class="small-block-grid-1 large-block-grid-3 medium-block-grid-3">

                    <li  data-wow-delay="0.2s" class="wow fadeInLeft">
                        <i class="fa fa-database"></i>
                        <h3>Base de Données Cloud</h3>
                        <p>Disposez d'un espace de stockage de 30Go, Nos base de données vous donnent la possibilité de casser les limites d'une infrastructure classique en vous envoyant sur le Cloud </p>
                    </li>

                    <li data-wow-delay="0.4s" class="wow fadeInRight">
                        <i class="fa fa-hdd-o"></i>
                        <h3>SSD</h3>
                        <p>On vous offre l'espace mais aussi la rapidité de téléchargement et d'envoi de vos fichiers grâce au stockage sur SSD uniquement.</p>
                    </li>

                    <li data-wow-delay="0.6s" class="wow fadeInRight">
                        <i class="fa fa-rocket"></i>
                        <h3>Running at scale</h3>
                        <p>Des services entièrements disponibles 24H/24. Vos fichiers vous suivent partout.<br>

                            Que vous soyez à votre poste ou en déplacement, tous vos fichiers sont automatiquement synchronisés sur vos appareils et accessibles à tout moment, même hors ligne.</p>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!--  END OF FEATURES -->

    <!--  PRICING BOXES  -->
    <div class="pricingboxes">
        <a id="pricingboxes"></a>
        <div class="row">
            <div class="small-12 columns">
                <h2>MULTIPLIEZ LES POSSIBILIT&Eacute; AVEC SUPFILE</h2>
            </div>
        </div>
        <div class="spacing-30"></div>
        <div class="row">
            <div data-wow-delay="0.2s"  class="small-12 large-4 medium-4 columns wow zoomIn">
                <div class="title">Gratuit</div>
                <ul class="pricing-table">
                    <li class="description"> <strong>Découcrez gratuitement nos services</strong> </li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;30Go d'espace de stockage sécurisé</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Récupération des fichiers supprimés</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Autorisations de partage granulaires</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Assistance par chat en direct 7jours/7</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Exploitation en directe des documents</li>
                    <li class="price"><span>Gratuit</span></li>
                    <li class="cta-button"><p><span><a href="index.htm">Inscrivez-vous maintenant</a></span></p></li>
                </ul>
            </div>

            <div data-wow-delay="0.4s"  class="small-12 large-4 medium-4 columns wow zoomIn">
                <div class="title">Prenium</div>
                <ul class="pricing-table">
                    <li class="description"><strong>Nos services vous plaisent?</strong></li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;100Go d'espace de stockage sécurisé</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Tous les avantages du forfait Standard</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Approbation des appareils connectés</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Intégration de l'authentification unique (SSO)</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Commandes d'administration avancées</li>
                    <li class="price"><span>9,99€</span></li>
                    <li class="cta-button"><p><span><a href="">Inscrivez-vous maintenant</a></span></p></li>
                </ul>
            </div>

            <div data-wow-delay="0.6s"  class="small-12 large-4 medium-4 columns wow zoomIn">
                <div class="title">Professionelle</div>
                <ul class="pricing-table">
                    <li class="description"> <strong>On vous accompagne dans votre activité</strong> </li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Tous les avantages du forfait Prenium</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Controle sur le réseau</li>
                    <li class="bullet-item"><i class="fa fa-check"></i>&nbsp;Visibilité sur le domaine</li>
                    <li class="bullet-item">...</li>
                    <li class="bullet-item">...</li>
                    <li class="price"><span>Sur devis</span></li>
                    <li class="cta-button"><p><span><a href="#">Contactez-nous</a></span></p></li>
                </ul>
            </div>

        </div>
    </div>
    <!--  END OF PRCING BOXES  -->

    <!--  TESTIMONIALS  -->
    <section class="testimonials">
        <div class="row">
            <div class="small-12 columns">
                <div class="circle"><i class="fa fa-server"></i></div>
                <h2>ESSAYEZ GRATUITEMENT</h2>
                <hr class="small"/>
                <ul class="small-block-grid-1 large-block-grid-3 medium-block-grid-3">

                    <li>

                        <h2>SupFILE</h2>

                    </li>

                    <li >

                        <h2>Assistance</h2>

                    </li>

                    <li >

                        <h2>Produits</h2>

                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!--  END OF TESTIMONIALS -->
{% endblock %}